@import '_settings';


.employees {

  &__header {
    &__title {
      font-size: 35px;
      margin-left: 100px;

      &__brand_name {
        font-weight: bold;
        color: $main;
      }
    }
  }

  &__list {
    &__item {
      margin: 20px 0;
      cursor: pointer;
    }
  }
}

.employee {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  background-color: $main_lighten;
  padding: 20px 30px;
  transition: all 0.3s ease-in-out;

  &__name {
    font-size: 30px;
  }

  &__short_description {
    position: absolute;
    top: 40px;
    left: 50%;
    padding: 10px 20px;
    border: 1px solid $main;
    background: $white;
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    background-color: $main_lighten_2;
  }

  &:hover  &__short_description {
    opacity: 1;
  }
}
