@import '_settings';


.employees {

  &__header {

    &__title {
      font-size: 28px;
      text-align: center;
      letter-spacing: 2px;
      margin-bottom: 20px;

      &__brand_name {
        font-weight: bold;
        color: $main;
      }
    }
  }

  &__table {
    width: 100%;

    &__header {
      background-color: $main_lighten;

      &__item {
        border-right: 3px solid $white;
        padding: 15px 0;

        &:last-child {
          border-right: none;
        }
      }

      &__role,
      &__exp {
        width: 210px;
      }
    }
  }
}

.employee {
  cursor: pointer;
  background: $white;

  &__role,
  &__experience {
    text-align: center;
  }

  &__data {
    border-right: 3px solid $white;
    padding: 15px 0;

    &:last-child {
      border-right: none;
    }
  }

  &__name {
    font-size: 24px;
    padding-left: 20px;
  }

  &:nth-child(odd) {
    background: $main_lighten_2;
  }
  &:nth-child(even) &__data {
    border-right: 3px solid $main_lighten_2;

    &:last-child {
      border-right: none;
    }
  }
}
