@import '_settings';


.footer {

  border-top: 2px solid $main;
  line-height: 30px;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
    color: $main;
    font-weight: bold;
    padding-left: 5px;
  }
}
