@import '_settings';


.header {
  border-bottom: 2px solid $main;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $wrappers_width;
    min-height: 80px;
    margin: auto;
    padding: 0 30px;
  }

  &__logo {
    &__container {
      &__image {
        padding: 10px 0;
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
    color: $main;
    cursor: pointer;

    &__info {
      position: relative;
    }

    &__avatar {
      margin-right: 10px;
    }

    &__name {
      font-size: 20px;
      font-weight: bold;
    }

    &__role {
      font-style: italic;
      padding-left: 10px;
    }

    &__change {
      position: absolute;
      background: $white;
      text-align: center;
      opacity: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include transition(0.3s);
    }

    &:hover &__change {
      opacity: 1;
    }
  }
}
