
$white: #ffffff;
$black: #000000;
$red: #b01f24;
$main: #33899A;
$font: darken($main, 10);

$main_lighten: lighten($main, 54);
$main_lighten_hover : lighten($main, 50);
$main_lighten_2 : lighten($main, 57);

$wrappers_width: 1000px;

@mixin transition($time) {
  transition: all $time ease-in-out;
}
