@import 'reset';

@import '_settings';
@import '_employees';
@import '_header';
@import '_footer';
@import '_edit_employee';

@import 'font-awesome/font-awesome';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


.body {
  font-family: 'Lato', sans-serif;
  color: $font;
}

.main {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  max-width: $wrappers_width;

  &__container {
    width: 100%;
  }
}
