<!doctype html>
<html>
   <head>
     <title>X Formation - recruitment app</title>

     <!--build:css css/styles.min.css-->
       <link rel='stylesheet' href='css/main.css'>
     <!-- endbuild -->
   </head>

   <body ng-app = "appModule" class="body">
     <header class="header">
       <div class="header__container">
         <div class="header__logo__container">
           <div class="header__logo__container__image">
             <img src="images/logo-small.png"/>
           </div>
         </div>
         <div class="header__user" ng-controller="User">
           <i class="fa fa-3x fa-user-circle-o header__user__avatar" aria-hidden="true"></i>
           <div class="header__user__info">
             <div class="header__user__name" ng-bind="name"></div>
             <div class="header__user__role" ng-bind="role"></div>
             <div class="header__user__change" ng-click="toggleUserRole()">Log in as <br/>{{altRole}}</div>
           </div>
         </div>
       </div>
     </header>

     <main class="main">
       <div class="main__container">
         <div ng-controller="EmployeesList" class="employees">
           <div class="employees__header">
             <h2 class="employees__header__title">
               Employees of
               <span class="employees__header__title__brand_name">
                 X-Formation
               </span>
             </h2>
           </div>
           <table class="employees__table">
            <tr class="employees__table__header">
              <th class="employees__table__header__item employees__table__header__name">
                Name
              </th>
              <th class="employees__table__header__item employees__table__header__role">
                Role
              </th>
              <th class="employees__table__header__item employees__table__header__exp">
                Exp. in months
              </th>
            </tr>
            <tr ng-repeat="employee in employees" class="employees__list__item employee" ng-click="editUser($index, employee.id)">
              <td class="employee__name employee__data">
                <i class="fa fa-user employee__data__icon" aria-hidden="true"></i>
                <span ng-bind="employee.first_name"></span>
                <span ng-bind="employee.last_name"></span>
                <div class="employee__short_description">
                  <div class="employee__short_description__employee">
                    <span ng-bind="employee.first_name"></span>
                    <span ng-bind="employee.last_name"></span>
                  </div>
                  <div ng-bind="employee.short_description"></div>
                </div>
              </td>
              <td ng-bind="employee.role" class="employee__role  employee__data"></td>
              <td ng-bind="employee.experience" class="employee__experience  employee__data"></td>
            </tr>
          </table>
         </div>
       </div>
     </main>

     <div ng-controller="EditEmployee as employee" class="edit_employee ng-hide">
       <div class="edit_employee__wrapper">
         <h3 class="edit_employee__title">Edit Employee</h3>
         <div class="edit_employee__delete" ng-click="delete()">
           <i class="fa fa-trash-o edit_employee__delete__button" aria-hidden="true"></i>
         </div>
         <div class="edit_employee__attribute">
           <span class="edit_employee__attribute__description">
             First name
           </span>
           <input [employee.first_name="string"] ng-disabled="true" type="text" ng-model="employee.first_name" class="edit_employee__attribute__input"></input>
         </div>
         <div class="edit_employee__attribute">
           <span class="edit_employee__attribute__description">
             Last name
           </span>
           <input [employee.last_name="string"] ng-disabled="true" type="text" ng-model="employee.last_name" class="edit_employee__attribute__input"></input>
         </div>
         <div class="edit_employee__attribute">
           <span class="edit_employee__attribute__description">
             Position
           </span>
           <select [employee.position="string"] ng-disabled="adminPermission" ng-model="employee.position" class="edit_employee__attribute__input">
             <option value="Admin">Admin</option>
             <option value="Developer">Developer</option>
             <option value="Manager">Manager</option>
             <option value="Tester">Tester</option>
             <option value="HR">HR</option>
           </select>
         </div>
         <div class="edit_employee__attribute">
           <span class="edit_employee__attribute__description">
             Role
           </span>
           <select [employee.role="string"] ng-disabled="adminPermission" ng-model="employee.role" class="edit_employee__attribute__input">
             <option value="User">User</option>
             <option value="Administrator">Administrator</option>
           </select>           
           </div>
         <div class="edit_employee__attribute">
           <span class="edit_employee__attribute__description">
             Experience
           </span>
           <input [employee.experience="number"] type="number" min="0" ng-model="employee.experience" class="edit_employee__attribute__input"></input>
         </div>
         <div class="edit_employee__attribute">
           <span class="edit_employee__attribute__description">
             Short description
           </span>
           <input [employee.short_description="string"] ng-model="employee.short_description" class="edit_employee__attribute__input"></input>
         </div>
         <div class="edit_employee__attribute">
           <span class="edit_employee__attribute__description">
             Long description
           </span>
           <textarea rows="4" [employee.first_name="string"] ng-model="employee.long_description" class="edit_employee__attribute__input"></textarea>
         </div>
         <div class="edit_employee__nav">
           <div class="edit_employee__nav__button" ng-click="return()">Return</div>
           <div class="edit_employee__nav__button" ng-click="save()">Save</div>
         </div>
       </div>
     </div>

     <footer class="footer">
       <div class="footer__container">
         © 2017 by Tomasz Tokarz, check me on
         <a href="https://github.com/TomaszTokarz/" class="footer__link"> Github</a>
       </div>
     </footer>

     <!-- build:js js/main.min.js -->
       <script src='node_modules/firebase/firebase.js'></script>
       <script src='node_modules/angular/angular.min.js'></script>

       <script src='js/database/firebase.js'></script>
       <script src='js/database/listeners.js'></script>
       <script src='js/database/update.js'></script>

       <script src='js/employees/employees.js'></script>
       <script src='js/employees/employee-edit.js'></script>
       <script src='js/user/user.js'></script>
       <script src='js/index.js'></script>
     <!-- endbuild -->
   </body>
</html>
